<html>
    <head>
        <title>Chat History</title>
        <style>
            html {overflow: hidden; }
            body {background-color: #000000; color: #FFFFFF; font-size: large; font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace; }
        </style>
        <script>
            function scrollBottom() {
                window.scrollTo(0, 99999);
            }
        </script>
    </head>
    <body>
        <table>
            <thead>
              <tr>
                <th rowspan="3"><img src="{{ img }}"></th>
                <td style="text-align:center;">{{ trackname }}</td>
              </tr>
              <tr>
                <td style="text-align:center;">{{ artists }}</td>
              </tr>
              <tr>
                <td style="text-align:center;">Music by Argofox</td>
              </tr>
            </thead>
            </table>
    </body>
</html>